* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
    background-color: #FFB5D6;
    font-family: Arial, sans-serif;
    text-align: center;
}
nav {
    margin: 30px 0;
}
a {
    font-size: 2em;
    color: #000;
    text-decoration: none;
}
img {
    border-radius: 50%;
    border: 10px solid #000;
}
footer {
    color: #FF006A;
}
p {
    padding: 30px 0
}